.contact{
	background: url(../img/android-1869510_1920.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
}
.contact .left{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.contact .left p{
	margin-top: 0px;
}
.contact li i{
	padding: 0px 10px 0px 0px;
}
.contact .right{
	float: right;
	width: 48%;
	margin-right: 0%;
}
.contact .right input,
.contact .right textarea{
	width: 100%;
	padding: 10px 16px;
	margin: 10px 0;
	border: none;
	outline: none;
	border-radius: 5px;
	background: rgba(255,255,255,0.6);
}
::-webkit-input-placeholder{
	color: #000;
}
::-moz-placeholder{
	color: #000;
}