body{
				background-repeat:no-repeat;
				background-size: 100% 100%;
				background-attachment: fixed;
			}
			div{
				margin-top: 250px;
				text-align: center;
			}
			#textstar{
				width: 100px;
			}
			#textend{
				width: 250px;

			}